// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

.profile_picture {
    border-radius: 50%;
    box-shadow: 0px 0px 5px $border-color-01;
    margin-top: 25px;
}

.figure {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
